[user]
    email = choduk88@gmail.com
    name = Duk
[core]
    pager = less -F -X
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    lg = log --pretty=format:'%C(yellow)%h %C(reset)%ad %C(bold blue)[%an]%C(red)%d %C(reset) %s' --all --date=short --graph
    lgd = log --pretty=format:'%C(yellow)%h %C(bold blue)[%an] %C(red)%d %C(reset)%s %C(green)(%ad)' --all --date=short --graph
    lgt = log --pretty=format:'%C(yellow)%h %C(bold blue)[%an] %C(red)%d %C(reset)%s %C(blue) %C(green)(%ad)' --all --date=relative --graph
    today = log --pretty=format:'%C(yellow)%h %C(reset)%ad %C(bold blue)[%an] %C(red)%d %C(reset) %s' --graph --date-order -C -M --all --date=short --since=midnight --graph
    yesterday = log --pretty=format:'%C(yellow)%h %C(reset)%ad %C(bold blue)[%an] %C(red)%d %C(reset) %s' --graph --date-order -C -M --all --date=short --since=day.before.yesterday.midnight --until=midnight --graph

    s = status -short --branch
    st = status

    br = branch
    brb = branch -b
    brd = branch -D

    co = checkout
    cob = checkout -b
    cos = checkout sandbox
    com = checkout master
    cod = checkout develop
    cor = checkout release

    cm = commit
    cmm = commit -m
    amend = commit --amend

    mg = merge

    rb = rebase
    rbd = rebase develop
    rbod = rebase origin/develop
    rbom = rebase origin/master

    fc = fetch
    fco = fetch origin

    pl = pull
    plos = pull origin sandbox
    plom = pull origin master
    plod = pull origin develop

    ps = push
    psos = push origin sandbox
    psom = push origin master
    psod = push origin develop
    psor = push origin release
    psoh = push origin HEAD

    fi = flow init
    fv = flow version
    ffs = flow feature start
    fff = flow feature finish
    fhs = flow hotfix start
    fhf = flow hotfix finish

    as = !git add . && git status
